.main-container {
    display: flex;
}


main {
    width: 100%;
    padding: 30px 50px;
    background-color: #F7F6F6;
}


.sidebar-container {
    width: 20%;
    height: 100vh;
    color: #fff;

}

.sidebar-logo {
    width: 70%;
    margin: 5% 10%;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 40px 25px;
    text-decoration: none;
    height: 40px;
    color: black;

}

.sidebar-label {
    margin-left: 30px;
}

.sidebar-label:hover {
    color: lightskyblue;
    font-weight: 500;
}


.sidebar-icon img {
    width: 25px;
    height: 25px;
}

.active {
    background: lightskyblue;
    color: #fff;
    padding: 5px;
    border-radius: 4px;

}

.active .sidebar-icon img {
    filter: brightness(0) invert(1);
}

.sidebar-account {
    margin-top: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar-account .avatar {
    width: 20%;
    height: 20%;
    border-radius: 50%;

}

.sidebar-account-name {
    font-size: 0.8em;
    color: black;
    margin-top: 5px;

}

.sidebar-account-email {
    color: #777777;
    font-size: 0.7em;
    margin-top: -10px;
}

@media (max-width:739px) {
    .sidebar-label {
        display: none;
    }

    .sidebar-item {
        margin: 0px 0px 30px 0px;
    }

    .sidebar-icon img {
        margin-left: 100%;
        width: 25px;
        height: 25px;
    }
}